<form role="form" (submit)="login()">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 py-4 form-group">
            <label for="username">Email:</label> <input type="text" class="form-control" id="username" name="username"
                [(ngModel)]="credentials.email" />
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 py-1 form-group">
            <label for="password">Password:</label> <input type="password" class="form-control" id="password"
                name="password" [(ngModel)]="credentials.password" />
        </div>
        <div class="col-md-4"></div>
    </div>

    <div class="row py-2">
        <div class="py-2 d-flex justify-content-center">
            <button type="submit" class="text-center btn btn-primary">Submit</button>
        </div>
    </div>
</form>