<div class="py-2 lead">
    <p>Check the accesibility of your desired place</p>
</div>
<form role="form" (submit)="showMarkers()" *ngIf="places.length === 0">
    <div class="form-group lead">
        <label for="lookingFor">What are you looking for?</label> <input type="text"
                                                                         class="form-control" id="lookingFor" name="lookingFor" [(ngModel)]="lookingFor"/>
    </div>
    <div class="py-4 form-group lead">
        <label for="locationName">Where? (provide a landmark name, for example "Mall Promenada" or "Piata Victoriei")</label> <input type="text"
                                                                                                                          class="form-control" id="locationName" name="locationName" [(ngModel)]="locationName"/>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<google-map
        *ngIf="places.length > 0 && isApiLoaded()"
        height="500px"
        width="100%"
        [zoom]="zoom"
        [center]="center"
        [options]="options"
        >
    <map-marker
            #markerrr="mapMarker"
            *ngFor="let marker of markers"
            [position]="marker.position"
            [label]="marker.label"
            [title]="marker.title"
            [options]="marker.options"
            (mapClick)="openInfoWindow(markerrr)"
    >
        <map-info-window
        (click)="clickedMarker(marker)">
            Place: {{marker.title}}, click for accessiblity
        </map-info-window>
    </map-marker>
</google-map>

<form role="form" (submit)="changeAccesssibility()" *ngIf="hasSelectedPlace()">
    <div class="form-group lead">
        <label class="form-check-label" for="isAccessible">Is this place accessible? :{{selectedPlace}}</label>
        <input type="checkbox" class="form-check-input" id="isAccessible" name="isAccessible" [(ngModel)]="isAccessible"/>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<div>
    <p>
        {{userMessage}}
    </p>
</div>
<div class="lead" *ngIf="latestReview !== null">
    <p>
        Place is accessible: {{latestReview.isAccessible}}
    </p>
    <p>
        Last review is at: {{latestReview.createdAt}}
    </p>
</div>
