<p>Plan your next city trip in Bucharest using semantic search:</p>
<form role="form" (submit)="plantrip()">
    <div class="form-group">
        <label for="lookingFor">What are you looking for?</label> <input type="text"
                                                    class="form-control" id="lookingFor" name="lookingFor" [(ngModel)]="lookingFor"/>
    </div>
    <div class="form-group">
        <label for="locationName">Where? (provide a landmark name, for example "Promenada" or "Victoriei")</label> <input type="text"
                                                       class="form-control" id="locationName" name="locationName" [(ngModel)]="locationName"/>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<form role="form" (submit)="findRoute()">
  <div class="form-group">
    <label for="destination">Where? (provide a landmark name, for example "Promenada" or "Victoriei")</label> <input type="text"
                                                                                                                      class="form-control" id="destination" name="destination" [(ngModel)]="destination"/>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>


<div class="container" *ngIf="places.length > 0">
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Position</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let place of places">
            <td>{{place.name}} </td>
            <td>{{place.position.latitude}} {{place.position.longitude}}</td>
        </tr>
        </tbody>
    </table>
</div>

<google-map
        *ngIf="(places.length > 0 && isApiLoaded()) || routeFound"
        height="500px"
        width="100%"
        [zoom]="zoom"
        [center]="center"
        [options]="options">
    <map-marker
            *ngFor="let marker of markers"
            [position]="marker.position"
            [label]="marker.label"
            [title]="marker.title"
            [options]="marker.options"
    >
    </map-marker>
</google-map>
